<h1>Add Supplier Details</h1>


<form class="form" action="/suppliers" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" required="required" placeholder ="example: Wholesale Blu-rays Ltd">

    <label for="email">Email</label>
    <input type="email" name="email" required="required" size = "auto" placeholder ="example: test@gmail.com">

    <label for="telephone">Telephone</label>
    <input type="number" name="telephone" placeholder ="example: 01416669999">

    <label for="website">Website</label>
    <input type="url" name="website" placeholder ="example: http://www.website.com">

    <input class="btn_submit" type="submit" value="Save">
  </form>
