.small {
  text-align: center;
  width: 75px;
}

.center {
  text-align: center;
}

/* Heading of Table */
.main_stock_class th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(229, 189, 55);
  color: black;
  font-weight: normal;
  font-weight: bold;
  order: 1px solid rgb(229, 189, 55);
  border-radius: 6px;
  padding: 5px;
}

/* Main spacing */
.main_stock_class td {
  border: 1px solid rgba(181, 181, 181, 0.52);
  border-radius: 6px;
  padding: 5px;
}

/* doesnt work fully over the tr:nth-child(even)*/
/* .main_stock_class tr:hover {
  background-color: rgba(98, 98, 98, 0.54);
} */


.main_stock_table {
  display: flex;
  justify-content: center;
  padding:20px;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.34);
}

td a {
  display:block;
  position:relative
}

td a:hover {
  /* background:blue; */
  color: white;
  text-decoration: underline;
}


td.center_Low {
  text-align: center;
  width: 100px;
  background-color: LightSalmon;
}

td.center_Medium {
  text-align: center;
  width: 100px;
  background-color: LightGoldenRodYellow;
}

td.center_High {
  text-align: center;
  width: 100px;
  background-color: DarkSeaGreen;
}

td.center_None {
  text-align: center;
  width: 100px;
  background-color: FireBrick;
}
